[submodule "frontend"]
	path = frontend
	url = https://github.com/Courtesi/tso_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Courtesi/tso_backend.git
[submodule "webscraper"]
	path = webscraper
	url = https://github.com/Courtesi/tso_webscraper.git
