**/.env

**/.claude
/.claude

**/.idea
**/.DS_Store
Thumbs.db
**/*.swp
**/*.log

**/__pycache__
**/.venv
**/service-account.json

/.setups
**/keys

# Ignore all markdown files
*.md
# Except README.md in root
!/README.md

# Ignore secrets
/data